/* background setup */


.background-splash {
    background: linear-gradient(rgba(221, 185, 119, .5), rgba(221, 185, 119, .5)), url('../images/backgrounds/Juliet_founders-min.jpg');
    background-size: cover cover;
    background-repeat: no-repeat;
    background-position: 0, 35% 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* body content styling */

.about-main {
    position: relative;
    line-height: 1.6rem;
    top: 25%;
    left: 50%;
    transform:translateX(-50%);
    width: 41rem;
    -webkit-transform:translate(-50%);
    -moz-transform:translate(-50%);
    -ms-transform:translate(-50%);
    -o-transform:translate(-50%);
}

.about-main-body {
    text-align: center;
}

.about-main-body-header {
    text-align: center;
    color: rgb(255, 246, 241);
    display: block;
    font-size: 2.3rem;
    font-family: 'Galaxie Copernicusbold';
    padding-bottom: 1.5rem;
}

.about-main-story {
    font-family: 'Galaxie Copernicusbook';
    font-size: 1.2rem;
}

.love-dearly {
    display: block;
    text-align: center
}

/* edge image styling */

.edge-hand-logo-about {
    width: 15%;
    position: absolute;
    top: -15rem;
    right: 7rem
}

.edge-hand-logo-about img {
    width: 100%;
    display: block;
}

.edge-eye-logo-about {
    width: 20%;
    position: absolute;
    bottom: -6rem;
    right: 7rem;
}

.edge-eye-logo-about img {
    width: 100%;
    display: block;
}