.main-background {
    background: rgb(221, 186, 119);
    height: 100vh;
}

/* commitment body styling */
.commitment-body {
    position: relative;
    top: 11rem;
    width: 37rem;
    margin: 0 auto;
}

.top-body {
    margin-bottom: 2rem;
}

.commitment-body-title {
    color: rgb(225,246,241);
    text-align: center;
    padding-bottom: 1rem;
}

.commitment-title-top {
    font-family: 'Galaxie Copernicusbold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: .05rem;
}

.commitment-body-para .commitment-body-list {
    color: rgb(54, 63, 72);
}

.commitment-body-para {
    text-align: center;
    line-height: 2rem;
}

.commitment-body-para-newline {
    display: block;
    font-size: 1.3rem;
    font-family: 'Galaxie Copernicusbook';
}

/* body content bottom section */
.commitment-title-bottom {
    font-family: 'Asap Condensedbold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.commitment-body-list {
    width: 37rem;
    margin: 0 auto;
    text-align: center;
}

.commitment-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.commitment-grid {
    padding: 1.4rem;
}

.commit-grid-line {
    display: block;
    font-family: 'Galaxie Copernicusbook';
    font-size: 1.2rem;
}

.commitment-list {
    text-align: center;
    list-style: none;
}

.commitment-list-item {
    font-family: 'Galaxie Copernicusbook';
    font-size: 1.2rem;
    padding: .7rem 0;
}

.commitment-list-item:before {
    content: "\002022  ";
    font-size: 2rem;
    color: rgb(225,246,241);
}

.list-item-newline {
    display: block;
}

/* grid borders */

.commitment-grid-one {
    border-right: 1px solid rgb(225, 246, 241);
    border-bottom: 1px solid rgb(225, 246, 241);
}

.commitment-grid-two {
    border-bottom: 1px solid rgb(225, 246, 241);
}

.commitment-grid-three {
    border-right: 1px solid rgb(225, 246, 241);
}