
/* header styling */

.company-logo {
    position: fixed;
    z-index: 100;
    text-align: center;
    top: 2.5rem;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}

.company-logo a {
    display: block;
}

.juliet-logo {
    width: 8rem;
}

/*  nav styling */

.menu-items {
    margin: 0;
}

.menu-item {
    position: fixed;
    list-style: none;
    z-index: 300;
}

.menu-item a {
    display: block;
    text-decoration: none;
    font-family: 'Asap Condensedbold', Times, serif;
    text-transform: uppercase;
    color: rgb(54, 63, 72);
    letter-spacing: .1rem;
    font-weight: 300;
    font-size: 1rem;
}

.menu-item-about {
    top: 2.5rem;
    left: 2.5rem;
}

.menu-item-contact {
    top: 2.5rem;
    right: 2.5rem;
}

.menu-item-partners {
    bottom: 2.5rem;
    left: 2.5rem;
}

.menu-item-what-we-believe {
    bottom: 2.5rem;
    right: 2.5rem;
}
