/* background color */

.background-partners {
    background: rgb(239, 70, 35);
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main-content-partners {
    position: relative;
    margin: 0 auto;
    top: 20%;
    width: 50rem;
}


.partners-title {
    color: rgb(225, 246, 241);
    text-align: center;
    padding-bottom: 2rem;
}

.partners-logos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.partner-logo {
    display: block;
    width: 11.6rem;
    height: 8rem;
    padding: 1.5rem;
    object-fit: contain;
}

/* edge eye image styling */

.edge-eye-logo-partners {
    position: absolute;
    width: 19rem;
    top: -7.2rem;
    right: 9rem;
}

.edge-eye-logo-partners img {
    display: block;
    width: 100%;
}

.edge-rose-logo-partners {
    position: absolute;
    width: 19rem;
    left: 9rem;
    bottom: -11rem;
}

.edge-rose-logo-partners img {
    display: block;
    width: 100%;
}