@media all and (max-width: 1000px) {
    /* main page responsive styling */
    /* page one styling */

    html {
        font-size: 15px;
    }
    .responsive-main-page-one {
        position: relative;
        top: -20px;
    }

    .responsive-heart-page-one {
        bottom: -25rem;
    }

    /* page two styling */
    .responsive-main-page-two {
        position: relative;
        top: 0;
    }

    .responsive-skull-page-two {
        bottom: -24rem;
    }

    /* page three styling */

    .responsive-main-page-three {
        position: relative;
        top: 0;
    }
    
    .responsive-rose-page-three {
        
        bottom: -21rem;
    }

    /* page four styling */
    .responsive-main-page-four {
        position: relative;
        top: 0;
    }

    .responsive-sword-page-four {
        bottom: -23rem;
    }

    /* page five styling */
    .responsive-main-page-five {
        position: relative;
        top: 0;
    }

    .responsive-heart-page-five {
        bottom: -21rem;
    }

    /* about page responsive */
    .responsive-hand-about-page {
        top: -15rem;
    }

    .responsive-eye-about-page {
        bottom: -6rem;
    }
 }

 /* commitment.html works fine with the html tag so no extra styles at this break point */
 
@media all and (max-width: 830px) { 
   
 }

 @media all and (max-width: 768px) {

 }

@media all and (max-width: 480px) { 
    
 }