@media all and (max-width: 1000px) {
    /* main page responsive styling */
    /* page one styling */

    
    .responsive-main-page-one {
        position: relative;
        top: -20px;
    }

    .responsive-heart-page-one {
        bottom: -25rem;
        width: 17rem;
    }

    /* page two styling */
    .responsive-main-page-two {
        position: relative;
        top: 0;
    }

    .responsive-skull-page-two {
        bottom: -23rem;
        width: 8rem;
    }

    /* page three styling */

    .responsive-main-page-three {
        position: relative;
        top: 0;
    }
    
    .responsive-rose-page-three {
        width: 13rem;
        bottom: -21rem;
    }

    /* page four styling */
    .responsive-main-page-four {
        position: relative;
        top: 0;
    }

    .responsive-sword-page-four {
        bottom: -23rem;
    }

    /* page five styling */
    .responsive-main-page-five {
        position: relative;
        top: 0;
    }

    .responsive-heart-page-five {
        bottom: -21rem;
    }

    /* about page responsive */
    .responsive-hand-about-page {
        top: -15rem;
    }

    .responsive-eye-about-page {
        bottom: -6rem;
    }
 }

 /* commitment.html works fine with the html tag so no extra styles at this break point */
 @media all and (max-width: 900px) {
     .responsive-about-main {
        width: 39rem;
     }

    .responsive-main-content-partners {
        width: 45rem;
    }

    .responsive-believe-body {
        top: 18rem;
        width: 47rem;
    }

   .responsive-believe-saying {
       font-size: 2.2rem;
   }

   .responsive-partners-eye {
       width: 13rem;
       top: -5rem;
   }

   .responsive-partners-rose {
       width: 14rem;
       bottom: -8rem;
   }
 }

 @media all and (max-width: 768px) {
    html {
        font-size: 15px;
    }
 }

@media all and (max-width: 480px) { 
    
 }