/* fonts */
@font-face {
    font-family: 'Asap Condensedbold';
    src: url('fonts/AsapCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Galaxie Copernicusbold';
    src: url('fonts/GalaxieCopernicus-Bold.otf');
}

@font-face {
    font-family: 'Galaxie Copernicusbook';
    src: url('fonts/GalaxieCopernicus-Book.otf');
}

@font-face {
    font-family: 'Galaxie Copernicusextrabold';
    src: url('fonts/GalaxieCopernicus-Extrabold.otf');
}

@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/MinionPro-Regular.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttc');
}
/* Browser reset */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* set properties to inherit */
html {
    height: 100%;
}

body {
    font-size: 16px;
}



/* header styling */

.company-name {
    position: fixed;
    z-index: 100;
    text-align: center;
    top: 2.5rem;
    left: 50%;
    font-family: 'Asap Condensedbold';
}

.company-name a {
    text-decoration: none;
}

/*  nav styling */

.menu-items {
    margin: 0;
}

.menu-item {
    position: fixed;
    list-style: none;
    z-index: 100;
}

.menu-item a {
    text-decoration: none;
}

.menu-item-about {
    top: 2.5rem;
    left: 2.5rem;
}

.menu-item-work {
    top: 2.5rem;
    right: 2.5rem;
}

.menu-item-partners {
    bottom: 2.5rem;
    left: 2.5rem;
}

.menu-item-contact {
    bottom: 2.5rem;
    right: 2.5rem;
}

/* pages style */

.page-one {
    border: 1px solid red;
    background: rgb(239, 70, 35);
    height: 100vh;
    position: relative;
}

.main-content-center {
    width: 50%;
    border: 1px solid blue;
    position: relative;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}